.hover-effect {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.flag-image {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-hover {
    transition: all 0.3s ease;
}

.btn-hover:hover {
    background-color: var(--bs-primary);
    color: white !important;
}